<?xml version="1.0" encoding="utf-8"?>

<form>
    <fields name="params">
        <fieldset name="params">
            <field name="google_maps_field" type="fieldlist" default="" required="true" filters="googlemapslocation"/>
            <field name="max_radius" type="text" default="100"/>
            <field name="default" type="text"/>
        </fieldset>
    </fields>
</form>
