<?xml version="1.0" encoding="utf-8"?>

<form>
    <fields name="params">
        <fieldset name="params">
            <field name="ajax_upload" type="list" default="0">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>

            <field name="url_redirect" type="list" default="gallery">
                <option value="gallery">Photos Gallery</option>
                <option value="profile">Profile Page</option>
            </field>
        </fieldset>
    </fields>
</form>
