.view-photo .media .top-info,
.view-video .media .top-info {
    overflow: hidden;
    margin-bottom: 10px;
}

.view-photo .media .media-wrapper,
.view-video .media .media-wrapper {
    text-align: center;
    background-color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1px;
}

.view-photo .media .media-wrapper .information,
.view-video .media .media-wrapper .information {
    text-align: left;
    background-color: #666666;
    border-top: 1px solid #999999;
    color: #f6f6f6;
    padding: 10px;
}

.view-photo .media .media-wrapper .information a,
.view-video .media .media-wrapper .information a {
    color: #333333;
}

.view-photo .media .media-wrapper .information .title,
.view-video .media .media-wrapper .information .title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.view-photo .media .media-wrapper img,
.view-video .media .media-wrapper img {
    max-width: 100%;
}

.view-photo .media .media-nav,
.view-video .media .media-nav {
    margin: 10px 0;
    overflow: hidden;
}

.view-photos label,
.view-videos label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.view-photos input[type="checkbox"],
.view-videos input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

.view-photos .filters {
    margin-bottom: 20px;
    text-align: right;
}

.view-photos .photo {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    position: relative;
}

.view-photos .photo input[type="checkbox"] {
    position: absolute;
    top: 7px;
    left: 7px;
}

.view-photos .move-handle {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.view-photos .move-handle i.factory-icon {
    margin: 0;
}

.view-photos .photo .thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    background: #ffffff no-repeat center center;
}

.view-photos .photo .thumbnail:hover,
.view-photos .photo .thumbnail:focus,
.view-photos .photo .thumbnail:active {
    background-position: center center;
    background-repeat: no-repeat;
}

.view-photos .info {
    overflow: hidden;
    margin-top: 5px;
    background-color: #ffffff;
}

.view-photos .actions {
    clear: both;
}

.view-photos .photo .shader {
    position: absolute;
    background-color: #000000;
    height: 26px;
    width: 100%;
    opacity: 0.5;
}

.view-photos .profile-photo {
    position: absolute;
    top: 5px;
    left: 25px;
}

.view-photos .thumbnail {
    display: block;
}

.view-photos .no-items {
    margin-bottom: 20px;
}

.view-photos #lovefactory-dialog ul.files li {
    padding: 5px;
}

.view-photos #lovefactory-dialog li:nth-child(2n) {
    background-color: #eeeeee;
}

.view-photos #main .upload-status,
.view-photos .upload-status {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-bottom: 20px;
}

.view-photos .photo {
    min-height: 137px;
}

.view-videos .videos {
    clear: both;
    float: left;
}

.view-videos .filters {
    margin-bottom: 20px;
    text-align: right;
}

.view-videos .video {
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    position: relative;
}

.view-videos .video input[type="checkbox"] {
    position: absolute;
    top: 7px;
    left: 7px;
}

.view-videos .move-handle {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.view-videos .move-handle i.factory-icon {
    margin: 0;
}

.view-videos .video .thumbnail {
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    background: #ffffff no-repeat center center;
}

.view-videos .video .thumbnail:hover,
.view-videos .video .thumbnail:focus,
.view-videos .video .thumbnail:active {
    background-position: center center;
    background-repeat: no-repeat;
}

.view-videos .info {
    overflow: hidden;
    margin-top: 5px;
    background-color: #ffffff;
}

.view-videos .actions {
    clear: both;
}

.view-videos .video .shader {
    position: absolute;
    background-color: #000000;
    height: 26px;
    width: 100%;
    opacity: 0.2;
}

.view-videos .thumbnail {
    display: block;
}

.view-videos .no-items {
    margin-bottom: 20px;
}

.view-videos .video {
    min-height: 137px;
}
