<?xml version="1.0" encoding="utf-8"?>

<form>

    <fields name="params">
        <fieldset name="params">
            <field name="ajax_check" type="list" default="1">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>

        </fieldset>
    </fields>
</form>
