<?xml version="1.0" encoding="utf-8"?>

<form>

    <fields name="params">
        <fieldset name="params">

            <field name="edit_height" type="text" default="200"/>
            <field name="edit_width" type="text" default="100%"/>
            <field name="view_height" type="text" default="200"/>
            <field name="view_width" type="text" default="100%"/>


        </fieldset>
    </fields>
</form>
